*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  font-family: "Poppins", sans-serif;
  background-color: #EDEDED;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
  transition: background-color .3s ease-out; }

.container > header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 9; }

.container > main {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(2, 100vh) repeat(2, min-content);
  grid-gap: 3rem; }

.container > footer {
  grid-area: footer; }

.container.dark-mode {
  background-color: black;
  color: #EDEDED; }

/* 
*
    reveal sections on scroll
*
*/
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease-out; }

.reveal.active {
  transform: translateY(0px);
  opacity: 1; }

/*
*
GLITCH TEXT
*
*/
.glitch {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  align-self: end;
  position: relative;
  /* glitch effect */
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 1000ms infinite; }

/* hide span behind glitch text */
.glitch span {
  position: absolute;
  top: 0;
  left: 0; }

.glitch span:first-child {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: .8;
  animation: glitch 800ms infinite, glitch-span-1 800ms infinite; }

.glitch span:last-child {
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.05em, 0.025em);
  opacity: .8;
  animation: glitch 1200ms infinite, glitch-span-2 1000ms infinite; }

/*
*
TYPEWRITER
*
*/
.typewriter {
  align-self: start; }

.text {
  display: inline-block;
  vertical-align: middle;
  font-size: 6rem;
  letter-spacing: .5rem; }

.cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 6rem;
  background-color: orangered;
  animation: blink .7s step-end infinite; }

/* Section title */
.section-title {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: center;
  position: relative; }
  .section-title::before {
    content: "";
    position: absolute;
    top: 5.5rem;
    left: 5%;
    width: 90%;
    height: .5rem;
    background: #202020;
    z-index: -1; }

.dark-mode > main > .about > .section-title::before,
.dark-mode > main > .skills > .section-title::before,
.dark-mode > main > .projects > .section-title::before {
  top: 5.5rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background: #DA0037; }

/* Paragraph text */
.body-text {
  font-size: 2.25rem; }

/* Skills name */
.item-title {
  font-size: 1.5rem;
  font-family: 'Roboto', monospace;
  text-transform: uppercase;
  line-height: 20%;
  letter-spacing: .2rem; }

.project-title {
  font-size: 2.4rem;
  font-family: 'Roboto', monospace;
  text-transform: uppercase;
  line-height: 20%;
  letter-spacing: .2rem;
  vertical-align: middle;
  position: relative; }
  .project-title::after {
    content: "";
    position: absolute;
    top: 2.4rem;
    left: -.1rem;
    height: 2px;
    width: 100%;
    background: #EDEDED; }
  .project-title img {
    display: inline-block;
    height: 2rem; }

.about {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: minmax(1rem, 10rem) 1fr minmax(1rem, 10rem);
  grid-template-rows: 7rem 1fr;
  grid-gap: 5rem; }
  .about__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    justify-content: center;
    align-items: center; }
    .about__container img {
      border-radius: 10%;
      width: 45rem;
      height: 55rem;
      object-fit: cover;
      grid-column: 1 / 2;
      justify-self: end; }

@keyframes open {
  0% {
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%); }
  100% {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); } }

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75); }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75); }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75); }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75); }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75); }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75); }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75); } }

@keyframes glitch-span-1 {
  0% {
    transform: translate(-0.025em, -0.0125em); }
  14% {
    transform: translate(-0.025em, -0.0125em); }
  15% {
    transform: translate(0, 0); }
  49% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0.025em, 0.0125em); }
  99% {
    transform: translate(0.025em, 0.0125em); }
  100% {
    transform: translate(0, 0); } }

@keyframes glitch-span-2 {
  0% {
    transform: translate(0.025em, 0.0125em); }
  14% {
    transform: translate(0.025em, 0.0125em); }
  15% {
    transform: translate(0, 0); }
  49% {
    transform: translate(0, 0); }
  50% {
    transform: translate(-0.025em, -0.0125em); }
  99% {
    transform: translate(-0.025em, -0.0125em); }
  100% {
    transform: translate(0, 0); } }

@keyframes blink {
  from, to {
    background-color: transparent; }
  50% {
    background-color: orangered; } }

@keyframes border-light {
  from, to {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to bottom right, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  12% {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to bottom, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  25% {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to bottom left, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  37% {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to left, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  50% {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to top left, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  62% {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to top, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  75% {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to top right, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  87% {
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to right, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; } }

@keyframes border-dark {
  from, to {
    background: linear-gradient(black, black) padding-box, linear-gradient(to bottom right, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  12% {
    background: linear-gradient(black, black) padding-box, linear-gradient(to bottom, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  25% {
    background: linear-gradient(black, black) padding-box, linear-gradient(to bottom left, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  37% {
    background: linear-gradient(black, black) padding-box, linear-gradient(to left, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  50% {
    background: linear-gradient(black, black) padding-box, linear-gradient(to top left, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  62% {
    background: linear-gradient(black, black) padding-box, linear-gradient(to top, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  75% {
    background: linear-gradient(black, black) padding-box, linear-gradient(to top right, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
  87% {
    background: linear-gradient(black, black) padding-box, linear-gradient(to right, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; } }

.contact {
  background-color: #202020;
  color: #EDEDED; }

.navbar {
  background-color: #EDEDED;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: min-content repeat(2, minmax(min-content, 1fr));
  grid-gap: 2rem; }
  .navbar__logo {
    width: 4.5rem; }
  .navbar__btn {
    all: unset;
    cursor: pointer;
    align-self: start;
    justify-self: start;
    transition: all .4s; }
  .navbar__btn > img {
    width: 4.5rem; }
  .navbar__btn:active {
    transform: translateY(5px) scale(0.6); }

.navbar__menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navbar__menu-item {
    margin: 0 1rem; }
  .navbar__menu-link:link, .navbar__menu-link:visited {
    color: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    position: relative; }
  .navbar__menu-link::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    height: 1rem;
    width: 3px;
    background-color: #DA0037;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .navbar__menu-link:hover::before, .navbar__menu-link.active::before {
    transform: scaleY(1);
    width: 100%; }
  .navbar__menu-link:active::before {
    background-color: #F05454; }

.dark-mode > header > .navbar {
  background-color: #202020;
  box-sizing: none; }

.dark-mode > header > .navbar > .navbar__logo,
.dark-mode > header > .navbar > .navbar__btn {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.home {
  margin-top: -7rem;
  display: grid;
  grid-template-columns: 3rem [main-start] repeat(2, 1fr) [main-end] 3rem; }
  .home__data {
    font-family: monospace;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 30rem 1fr 10rem;
    grid-gap: 3rem;
    justify-content: center; }
  .home__social {
    display: grid;
    grid-template-columns: 10rem repeat(3, 1fr);
    grid-gap: 5rem; }
    .home__social img {
      width: 8rem;
      height: 3.5rem;
      opacity: .7;
      grid-column: 2 / 3; }
    .home__social img.linkedin-logo {
      width: 3.5rem;
      height: 3.5rem;
      opacity: .7;
      grid-column: 3 / 4;
      -webkit-filter: invert(100%);
      filter: invert(100%); }
    .home__social img:hover,
    .home__social img:active {
      opacity: 1; }
  .home__img {
    grid-column: 3 / 4;
    display: grid;
    justify-content: center;
    align-items: center; }
    .home__img > img {
      position: relative;
      display: block;
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
      width: 55rem;
      height: 55rem;
      object-fit: cover;
      clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
      animation: open 1s ease-out 1; }

.dark-mode > main > .home > .home__data > .home__social > a > img {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.dark-mode > main > .home > .home__data > .home__social > a > img.linkedin-logo {
  -webkit-filter: invert(0%);
  filter: invert(0%); }

.projects {
  padding-top: 7rem;
  margin-bottom: 7rem;
  display: grid;
  grid-template-columns: minmax(1rem, 10rem) 1fr minmax(1rem, 10rem);
  grid-template-rows: 7rem 1fr;
  grid-gap: 5rem; }
  .projects__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-row-gap: 7rem; }

.project {
  grid-column: 2 / 3;
  background-color: #30475E;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5% 6%;
  position: relative; }
  .project::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #DA0037;
    position: absolute;
    top: 3rem;
    left: 5rem;
    z-index: -1;
    border-bottom-right-radius: 2.5% 6%; }
  .project__data {
    align-self: start;
    padding: 3rem;
    padding-top: 1.8rem;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 1.3rem; }
  .project__image {
    justify-self: end;
    margin-bottom: -.4rem; }
    .project__image > img {
      height: 100%;
      width: 40rem;
      object-fit: cover;
      transition: all .3s ease; }
      .project__image > img:hover {
        transform: scale(1.15); }

.project:nth-child(2n) {
  flex-direction: row-reverse;
  border-top-right-radius: 2.5% 6%; }
  .project:nth-child(2n)::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #DA0037;
    position: absolute;
    top: 3rem;
    left: -5rem;
    z-index: -1;
    border-bottom-left-radius: 2.5% 6%;
    border-bottom-right-radius: 0% 0%; }

.project-stack {
  position: relative; }
  .project-stack::after {
    content: "";
    position: absolute;
    top: 3rem;
    left: -.1rem;
    height: 2px;
    width: 100%;
    background: #EDEDED; }
  .project-stack__item {
    font-size: 1.5rem;
    padding: .2rem;
    border: #EDEDED 2px solid;
    border-radius: 10%;
    background-color: #83aabe;
    color: #30475E; }

.skills {
  padding-top: 7rem;
  margin-bottom: 7rem;
  display: grid;
  grid-template-columns: minmax(1rem, 10rem) 1fr minmax(1rem, 10rem);
  grid-template-rows: 7rem 1fr;
  grid-gap: 5rem; }
  .skills__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 25% repeat(3, 1fr) 25%;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center; }
  .skills__col-1 {
    grid-column: 2 / 3;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    place-items: center; }
  .skills__col-2 {
    grid-column: 3 / 4;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    place-items: center; }
  .skills__col-3 {
    grid-column: 4 / 5;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    place-items: center; }
  .skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .8rem 5rem 1.2rem;
    width: 18rem;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
    transition: all .3s ease;
    /*
        *
            Gradient Border: 
                'padding-box' and 'border-box' values represent the background-clip values

                first linear gradient is limited to padding-box: it's a fake gradient because
                    we use the same color twice; its purpose is to mask the second background
                    gradient with the background color

                second linear gradient sits below the first and applies the desired gradient 
                    colors to our transparent border
        *
        */
    background: linear-gradient(#EDEDED, #EDEDED) padding-box, linear-gradient(to bottom right, #30475E, #DA0037) border-box;
    border-radius: 10%;
    border: 3.5px solid transparent; }
    .skills__item:hover, .skills__item:active {
      animation: border-light .75s ease;
      animation-iteration-count: infinite;
      transform: scale(1.2); }

.skills__item > img {
  padding-bottom: 1.5rem;
  width: auto;
  height: 8rem; }

.dark-mode > main > .skills > .skills__container > .skills__col > .skills__item {
  background: linear-gradient(black, black) padding-box, linear-gradient(to bottom right, #30475E, #DA0037) border-box; }
  .dark-mode > main > .skills > .skills__container > .skills__col > .skills__item:hover, .dark-mode > main > .skills > .skills__container > .skills__col > .skills__item:active {
    animation: border-dark 1s ease;
    animation-iteration-count: infinite; }

.dark-mode > main > .skills > .skills__container > .skills__col-1 > .skills__item > img[src="img/flask-logo.png"] {
  -webkit-filter: invert(100%);
  filter: invert(100%); }
