@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 25%; } }
  @media only screen and (min-width: 41em) and (max-width: 76em) {
    html {
      font-size: 50%; } }

.container {
  font-family: 'Marcellus SC', sans-serif;
  background-color: #EDEDED;
  color: black;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header' 'main';
  transition: background-color .4s ease-out; }

.container > .header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 9; }

.container > main {
  grid-area: main; }

.container.dark-mode {
  background-color: black;
  color: #EDEDED; }

.dark-mode > .header {
  background-color: black;
  box-sizing: none; }

.dark-mode > .header > .header__logo > img,
.dark-mode > .header > .toggle-btn > img {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.dark-mode > .header > .navigation > .navigation__button > .navigation__icon, .dark-mode > .header > .navigation > .navigation__button > .navigation__icon::before, .dark-mode > .header > .navigation > .navigation__button > .navigation__icon::after {
  background-color: #EDEDED; }

.navigation > .navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.dark-mode > .header > .navigation > .navigation__nav > .navigation__list > .navigation__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 0;
  height: 2px;
  width: 40%;
  border-bottom: 1px solid #EDEDED; }

.dark-mode > .header > .navigation > .navigation__nav > .navigation__list > .navigation__item > .navigation__link:link, .dark-mode > .header > .navigation > .navigation__nav > .navigation__list > .navigation__item > .navigation__link:visited {
  color: #EDEDED;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #EDEDED 50%);
  background-size: 250%;
  transition: all .4s; }

.dark-mode > .header > .navigation > .navigation__nav > .navigation__list > .navigation__item > .navigation__link:hover, .dark-mode > .header > .navigation > .navigation__nav > .navigation__list > .navigation__item > .navigation__link:active {
  background-position: 100%;
  color: #202020;
  transform: translateX(1rem); }

@media only screen and (max-width: 50em) {
  .dark-mode > .header > .navigation > .navigation__nav {
    height: 20vh;
    background-color: black; } }

.dark-mode > main > .home > .home__data > .home__data--social > a > img {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.dark-mode > main > .home > .home__data > .home__data--social > a > img.linkedin-logo {
  -webkit-filter: invert(0%);
  filter: invert(0%); }

.dark-mode > main > .home > .home__data > .home__data--name > h1 {
  color: #EDEDED; }

.dark-mode > main > .home > .home__data > .home__data--name > h1::before {
  background-color: #EDEDED; }

.dark-mode > main > .projects > .projects__nav > .projects__nav--list {
  border-color: #EDEDED; }

.dark-mode > main > .projects > .projects__nav > .projects__nav--list > .projects__nav--item > a {
  color: #EDEDED; }

.dark-mode > main > .projects > .projects__nav > .projects__nav--list > .projects__nav--item > a:link,
.dark-mode > main > .projects > .projects__nav > .projects__nav--list > .projects__nav--item > a:visited {
  color: #EDEDED;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #EDEDED 50%, #EDEDED 100%); }

.dark-mode > main > .projects > .projects__nav > .projects__nav--list > .projects__nav--item > a:hover,
.dark-mode > main > .projects > .projects__nav > .projects__nav--list > .projects__nav--item > a:active,
.dark-mode > main > .projects > .projects__nav > .projects__nav--list > .projects__nav--item > a:target,
.dark-mode > main > .projects > .projects__nav > .projects__nav--list > .projects__nav--item > a:focus {
  color: #202020; }

.dark-mode > main > .projects > .projects__container {
  border-color: #EDEDED; }

.dark-mode > main > .projects > .projects__container > .project > .project__image > img {
  border-color: #EDEDED; }

.dark-mode > main > .projects > .projects__container > .project > .project__data > .project--title > a > img {
  -webkit-filter: invert(0%);
  filter: invert(0%); }

.dark-mode > main > .projects > .projects__container > .project > .project__data > .project--title > a > img.project--link {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.dark-mode > main > .about > .about__form > .about__form--info > .about--wrapper {
  border-color: #EDEDED; }

.dark-mode > main > .about > .about__form > .about__form--info > .sub-wrapper > img {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.dark-mode > main > .contact > a > img {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 7.5rem;
  width: 100%;
  background-color: #EDEDED;
  transition: background-color .4s ease-out; }
  .header__logo {
    margin-left: 8rem; }
  .header__logo > img {
    height: 5rem;
    margin-top: 0.5rem; }
  .header > .toggle-btn {
    all: unset;
    cursor: pointer;
    align-self: start;
    justify-self: start;
    transition: all .4s; }
  .header > .toggle-btn > img {
    width: 4.5rem;
    margin-top: 1.5rem;
    margin-right: 3.5rem; }
  .header > .toggle-btn:active {
    transform: translateY(5px) scale(0.6); }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2rem;
    left: 3.5rem;
    background-color: transparent;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
  .navigation__nav {
    height: 50vh;
    position: fixed;
    z-index: 1500;
    background-color: transparent;
    display: none;
    padding: 1rem;
    align-content: center;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    @media only screen and (max-width: 50em) {
      .navigation__nav {
        height: 20vh;
        background-color: #EDEDED;
        transition: background-color .4s ease-out; } }
  .navigation__list {
    text-align: center;
    list-style: none; }
  .navigation__item {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: inherit;
    margin: 1rem;
    position: relative;
    letter-spacing: 2px; }
  .navigation__item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 0;
    height: 2px;
    width: 40%;
    border-bottom: 1px solid #202020; }
  .navigation__link {
    padding: 0.5rem 0.8rem; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: #202020;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #202020 50%);
      background-size: 250%;
      transition: all 0.4s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #EDEDED;
      transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(1); }
  .navigation__checkbox:checked ~ .navigation__nav {
    display: block; }
  .navigation__icon {
    position: absolute; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #202020;
      display: inline-block;
      transition: all 0.2s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }

.container > .footer {
  background-color: #EDEDED; }
  .container > .footer > p {
    font-weight: 500;
    color: #EDEDED;
    font-family: inherit; }

.footer {
  padding-top: 24rem;
  padding-left: 41.5%; }
  @media only screen and (max-width: 50em) {
    .footer {
      position: absolute;
      top: -7.5rem;
      right: 2.5rem; } }

#centered__footer {
  margin-top: -20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0; }

.home {
  margin-top: -5rem;
  margin-right: -10rem;
  height: 80vh;
  width: 100%; }
  @media only screen and (max-width: 70em) {
    .home {
      height: auto; } }
  .home__data {
    margin-top: -18.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .home__data {
        flex-direction: column;
        position: relative; } }
  .home__data--img {
    margin-top: 8.25rem;
    padding-top: 3rem;
    width: 100%; }
    @media only screen and (max-width: 50em) {
      .home__data--img {
        margin-top: 14rem;
        width: 120%; } }
    .home__data--img > img {
      width: 100%;
      height: 75rem;
      object-fit: cover;
      margin-bottom: -0.5rem; }
      @media only screen and (max-width: 50em) {
        .home__data--img > img {
          height: 100%; } }
  .home__data > .home__data--name {
    width: 100%;
    text-align: center;
    padding-top: 25rem; }
    @media only screen and (max-width: 50em) {
      .home__data > .home__data--name {
        position: absolute;
        left: 10rem;
        top: -3rem; } }
  .home__data > .home__data--name > h1 {
    width: 200%;
    font-family: 'Notable', sans-serif;
    font-size: 8rem;
    color: #202020;
    padding-bottom: 25rem;
    margin-left: -25rem;
    position: relative;
    letter-spacing: 3.5px; }
    @media only screen and (max-width: 50em) {
      .home__data > .home__data--name > h1 {
        font-size: 4rem; } }
    @media only screen and (max-width: 84.5em) {
      .home__data > .home__data--name > h1 {
        width: 100%;
        margin-left: -10rem; } }
    .home__data > .home__data--name > h1::before {
      content: "";
      position: absolute;
      width: 66rem;
      height: 2px;
      background-color: #202020;
      bottom: 22rem; }
      @media only screen and (max-width: 50em) {
        .home__data > .home__data--name > h1::before {
          display: none; } }
      @media only screen and (max-width: 84.5em) {
        .home__data > .home__data--name > h1::before {
          width: 40rem; } }
  .home__data > .home__data--social {
    margin-top: 15rem;
    margin-left: 2.5rem;
    display: grid;
    grid-template-columns: 3.5rem repeat(2, min-content) 1fr;
    grid-gap: 5rem; }
    @media only screen and (max-width: 50em) {
      .home__data > .home__data--social {
        display: flex;
        position: absolute;
        top: 10rem;
        right: -2.5rem; } }
    @media only screen and (max-width: 84.5em) {
      .home__data > .home__data--social {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        margin-left: -20rem;
        margin-right: 10rem; } }
    .home__data > .home__data--social img {
      width: 8rem;
      height: 3.5rem;
      opacity: .7;
      grid-column: 2 / 3; }
      @media only screen and (max-width: 50em) {
        .home__data > .home__data--social img {
          width: 6rem;
          height: 2.625rem; } }
    .home__data > .home__data--social img.linkedin-logo {
      width: 3.5rem;
      height: 3.5rem;
      opacity: .7;
      grid-column: 3 / 4;
      -webkit-filter: invert(100%);
      filter: invert(100%); }
      @media only screen and (max-width: 50em) {
        .home__data > .home__data--social img.linkedin-logo {
          width: 2.625rem;
          height: 2.625rem;
          margin-left: -4rem; } }
    .home__data > .home__data--social img:hover,
    .home__data > .home__data--social img:active {
      opacity: 1; }

.projects {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 3rem;
  height: 80vh;
  width: 100%;
  margin: 0 10rem;
  padding-top: 5rem;
  padding-left: 5rem;
  font-family: 'Special Elite', 'IM Fell English', sans-serif;
  letter-spacing: 2px; }
  @media only screen and (max-width: 50em) {
    .projects {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      margin-right: -10rem;
      margin-top: -3rem; } }
  @media only screen and (min-width: 51em) and (max-width: 70em) {
    .projects {
      margin-left: -10rem;
      height: auto; } }
  .projects__nav {
    grid-column: 1 / 2;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: -3rem; }
    @media only screen and (max-width: 50em) {
      .projects__nav {
        margin-left: -17rem;
        margin-top: 0;
        grid-row: 1 / 2; } }
    .projects__nav--list {
      list-style: none;
      border-left: 2px solid #202020;
      font-size: 1.8rem;
      padding: 2rem 5rem 2rem 3rem; }
      @media only screen and (max-width: 50em) {
        .projects__nav--list {
          display: flex;
          border-left: none;
          font-size: 1.2rem; } }
    .projects__nav--item > a {
      padding: 0.8rem 0.8rem 0.4rem 0.8rem; }
      @media only screen and (max-width: 50em) {
        .projects__nav--item > a {
          margin-right: 2rem; } }
    .projects__nav--item > a:link,
    .projects__nav--item > a:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: #202020;
      background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #202020 50%, #202020 100%);
      background-size: 300%;
      transition: all 0.5s; }
    .projects__nav--item > a:hover,
    .projects__nav--item > a:active,
    .projects__nav--item > a:target,
    .projects__nav--item > a:focus {
      background-position: -50% 100%;
      color: #EDEDED;
      transform: translateX(1rem); }
    .projects__nav--item:not(:last-child) {
      margin-bottom: 1rem; }
  .projects__container {
    grid-column: 2 / 3;
    border-left: 3px solid #202020;
    margin-left: 18rem;
    padding-left: 5rem;
    padding-top: 3rem;
    width: 60rem;
    height: 50rem; }
    @media only screen and (max-width: 50em) {
      .projects__container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 30rem;
        margin-left: -11rem;
        margin-top: -7rem;
        border-left: none;
        padding-left: 6rem; } }
  .projects__container > .project > .project__image {
    width: 100%;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .projects__container > .project > .project__image > #dreamOffer-img {
        margin-left: -8rem; } }
    @media only screen and (max-width: 50em) {
      .projects__container > .project > .project__image > #exerciseLog-img,
      .projects__container > .project > .project__image > #battleship-img {
        margin-left: -5rem; } }
    .projects__container > .project > .project__image > img {
      height: 25rem;
      margin-bottom: 1.8rem;
      box-shadow: 3px 3px 8px 5px rgba(32, 32, 32, 0.5);
      transition: all 0.4s ease-in-out; }
    .projects__container > .project > .project__image > img:hover {
      transform: scale(1.1); }
  @media only screen and (max-width: 50em) {
    .projects__container > .project > .project__data {
      margin-top: -2.4rem; } }
  .projects__container > .project > .project__data > .project--title {
    font-size: 1.8rem;
    text-align: center;
    padding: 1.2rem 0; }
  .projects__container > .project > .project__data > .project--title > a > img {
    vertical-align: middle;
    padding-bottom: 0.6rem;
    width: 2.4rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: all 0.2s ease; }
  .projects__container > .project > .project__data > .project--title > a > img:hover {
    transform: scale(1.1); }
  .projects__container > .project > .project__data > .project--title > a > img.project--link {
    margin-left: 0.8rem;
    -webkit-filter: none;
    filter: none;
    transition: all 0.2s ease; }
  .projects__container > .project > .project__data > .project--title > a > img.project--link:hover {
    transform: scale(1.1); }
  .projects__container > .project > .project__data > .project--stack {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.8rem; }
    @media only screen and (max-width: 70em) {
      .projects__container > .project > .project__data > .project--stack {
        font-size: 1rem;
        margin-top: -1rem; } }
  .projects__container > .project > .project__data > p {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.5; }
    @media only screen and (max-width: 70em) {
      .projects__container > .project > .project__data > p {
        margin-top: -1rem; } }

.about {
  display: grid;
  grid-template-columns: 50rem 1fr;
  height: 80vh;
  width: 100%; }
  @media only screen and (max-width: 50em) {
    .about {
      margin-right: -10rem;
      margin-top: -2rem; } }
  @media only screen and (min-width: 51em) and (max-width: 70em) {
    .about {
      margin-left: -10rem;
      margin-top: -20rem; } }
  .about__img {
    width: 100%;
    padding: 10rem;
    margin-top: -7rem; }
    @media only screen and (max-width: 50em) {
      .about__img {
        display: none; } }
    @media only screen and (min-width: 51em) and (max-width: 70em) {
      .about__img {
        margin-top: 20rem; } }
    .about__img > img {
      height: 60rem; }
  .about__form {
    align-self: center;
    padding-right: 10rem;
    margin-top: -8rem;
    margin-left: 3rem; }
    @media only screen and (max-width: 50em) {
      .about__form {
        width: 100vw;
        margin-top: 2rem;
        margin-left: 5rem; } }
  .about__form--info {
    padding: 2rem;
    border: solid 3px inherit;
    border-radius: 12px 0 12px 0;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 50em) {
      .about__form--info {
        padding-bottom: 3rem; } }
    .about__form--info > legend {
      font-family: 'Oi', sans-serif;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      padding: 0 1rem; }
      @media only screen and (max-width: 50em) {
        .about__form--info > legend {
          font-size: 1.4rem; } }
    .about__form--info > .sub-wrapper {
      display: flex;
      align-items: center;
      margin-top: -1rem;
      margin-left: -0.5rem;
      margin-bottom: 1.5rem; }
      .about__form--info > .sub-wrapper > img {
        width: 3rem;
        padding: 0 0.5rem; }
      .about__form--info > .sub-wrapper > h3 {
        font-size: 1.5rem; }
  .about__form--info > .about--wrapper {
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem; }
    @media only screen and (max-width: 50em) {
      .about__form--info > .about--wrapper {
        margin-bottom: 0.5rem; } }
    .about__form--info > .about--wrapper:not(:last-child) {
      border-bottom: 2px dotted #202020; }
    .about__form--info > .about--wrapper:last-child {
      margin-bottom: -3rem; }
    .about__form--info > .about--wrapper > label {
      font-size: 1.5rem; }
    .about__form--info > .about--wrapper #details, .about__form--info > .about--wrapper #actions, .about__form--info > .about--wrapper #inventory {
      width: 100%;
      background-color: transparent;
      border: none;
      color: inherit;
      overflow: hidden;
      resize: none;
      padding-left: 6.7rem;
      margin-top: -1.9rem;
      font-family: 'Permanent Marker', 'Pangolin', sans-serif;
      letter-spacing: 1px; }
      @media only screen and (max-width: 50em) {
        .about__form--info > .about--wrapper #details, .about__form--info > .about--wrapper #actions, .about__form--info > .about--wrapper #inventory {
          font-size: 1.2rem;
          padding-bottom: 3rem;
          padding-left: 3.8rem; } }
    .about__form--info > .about--wrapper #actions,
    .about__form--info > .about--wrapper #inventory {
      font-family: 'Redacted Script', sans-serif; }
    .about__form--info > .about--wrapper #actions {
      padding-left: 5rem; }
    .about__form--info > .about--wrapper #inventory {
      padding-left: 6rem;
      margin-bottom: -3.5rem; }
  .about__form--info > .about--wrapper > input {
    padding-left: 0.8rem; }
  .about__form--info > .about--wrapper > input,
  .about__form--info > .about--wrapper > #skills > .skills-wrapper > input {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: 'Permanent Marker', sans-serif;
    letter-spacing: 1px;
    pointer-events: none; }
    @media only screen and (max-width: 50em) {
      .about__form--info > .about--wrapper > input,
      .about__form--info > .about--wrapper > #skills > .skills-wrapper > input {
        font-size: 1.2rem; } }
  .about__form--info > .about--wrapper > #skills {
    border: none; }
    .about__form--info > .about--wrapper > #skills > legend {
      font-size: 1.5rem; }
  .about .skills-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -1.8rem; }
    .about .skills-wrapper > input {
      padding-left: 5.2rem;
      padding-bottom: 0.5rem; }

.contact {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .contact > a > img {
    height: 5rem;
    opacity: 0.7;
    transition: all 0.2s ease; }
  .contact > a > img:hover {
    transform: scale(1.1);
    opacity: 1; }
