*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: #EDEDED;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer'; }

.container > header {
  grid-area: header;
  position: sticky;
  top: 0; }

.container > main {
  grid-area: main;
  height: 1000px; }

.container > footer {
  grid-area: footer; }

.about {
  background-color: #DA0037; }

.contact {
  background-color: #444444; }

.navbar {
  background-color: #171717; }
  .navbar__logo {
    width: 4.5rem;
    -webkit-filter: invert(100%);
    filter: invert(100%); }

.home {
  background-color: #444444; }

.projects {
  background-color: #30475E; }

.skills {
  background-color: #F05454; }
