.about {
    padding-top: 7rem;

    display: grid;
    grid-template-columns: minmax(1rem, 10rem) 1fr minmax(1rem, 10rem);
    grid-template-rows: 7rem 1fr;
    grid-gap: 5rem;

    &__container {
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 7rem;
        justify-content: center;
        align-items: center;
        
        img {
            border-radius: 10%;
            height: 50rem;
            width: 40rem;
            object-fit: cover;
            grid-column: 1 / 2;

            justify-self: end;
        }
    }
}