.about {
    display: grid;
    grid-template-columns: 50rem 1fr;
    height: 80vh;
    width: 100%;

    @media only screen and (max-width: 50em) {
        margin-right: -10rem;
        margin-top: -2rem;
    }

    @media only screen and (min-width: 51em) and (max-width: 70em) {
        margin-left: -10rem;
        margin-top: -20rem;
    }

    &__img {
        width: 100%;
        padding: 10rem;
        margin-top: -7rem;

        @media only screen and (max-width: 50em) {
            display: none;
        }

        @media only screen and (min-width: 51em) and (max-width: 70em) {
            margin-top: 20rem;
        }

        & > img {
            height: 60rem;
        }
    }

    &__form {
        align-self: center;
        padding-right: 10rem;
        margin-top: -8rem;
        margin-left: 3rem;

        @media only screen and (max-width: 50em) {
            width: 100vw;
            margin-top: 2rem;
            margin-left: 5rem;
        }
    }

    &__form--info {
        padding: 2rem;
        border: solid 3px inherit;
        border-radius: 12px 0 12px 0;

        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 50em) {
            padding-bottom: 3rem;
        }

        & > legend {
            font-family: 'Oi', sans-serif;
            font-size: 2rem;
            letter-spacing: 0.5rem;
            padding: 0 1rem;

            @media only screen and (max-width: 50em) {
                font-size: 1.4rem;
            }
        }

        & > .sub-wrapper {
            display: flex;
            align-items: center;
            margin-top: -1rem;
            margin-left: -0.5rem;
            margin-bottom: 1.5rem;

            & > img {
                width: 3rem;
                padding: 0 0.5rem;
            }

            & > h3 {
                font-size: 1.5rem;
            }
        }
    }
    
    &__form--info > &--wrapper {
        margin-bottom: 1.5rem;
        padding-bottom: 0.5rem;

        @media only screen and (max-width: 50em) {
            margin-bottom: 0.5rem;
        }

        &:not(:last-child) {
            border-bottom: 2px dotted $color-primary-dark;
        }
        &:last-child {
            margin-bottom: -3rem;
        }

        & > label {
            font-size: 1.5rem;
        }

        #details, #actions, #inventory {
            width: 100%;
            background-color: transparent;
            border: none;
            color: inherit;
            overflow: hidden;
            resize: none;
            padding-left: 6.7rem;
            margin-top: -1.9rem;
            font-family: 'Permanent Marker', 'Pangolin', sans-serif;
            letter-spacing: 1px;

            @media only screen and (max-width: 50em) {
                font-size: 1.2rem;
                padding-bottom: 3rem;
                padding-left: 3.8rem;
            }
        }

        #actions,
        #inventory {
            font-family: 'Redacted Script', sans-serif;
        }

        #actions {
            padding-left: 5rem;
        }

        #inventory {
            padding-left: 6rem;
            margin-bottom: -3.5rem;
        }
    }

    &__form--info > &--wrapper > input {
        padding-left: 0.8rem;
    }

    &__form--info > &--wrapper > input,
    &__form--info > &--wrapper > #skills > .skills-wrapper > input {
        border: none;
        background-color: transparent;
        color: inherit;

        font-family: 'Permanent Marker', sans-serif;
        letter-spacing: 1px;

        pointer-events: none;

        @media only screen and (max-width: 50em) {
            font-size: 1.2rem;
        }
    }

    &__form--info > &--wrapper > #skills {
        border: none;

        & > legend {
            font-size: 1.5rem;
        }
    }

    .skills-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: -1.8rem;

        & > input {
            padding-left: 5.2rem;
            padding-bottom: 0.5rem;
        }
    }
}