// COLOR VARIABLES
$color-primary-light: #EDEDED;
$color-primary-medium: #444444;
$color-primary-dark: #171717;
$color-primary-darkest: black;

$color-secondary: #DA0037;
$color-secondary-light: #F05454;

$color-tertiary: #30475E;


// FONT VARIABLES
$stylistic-font: 'Pangolin', 'Courier New', monospace;
$primary-font: 'Poppins', sans-serif;

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5% // 1rem = 10px
}

.container {
    font-family: $primary-font; // Poppins
    background-color: $color-primary-light;
    color: $color-primary-darkest;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header'
                         'main'
                         'footer';
}

.container > header {
    grid-area: header;
    position: sticky;
    top: 0;
}

.container > main {
    grid-area: main;
    
    // for testing purposes
    height: 1000px;
}

.container > footer {
    grid-area: footer;
}

.container.dark-mode {
    background-color: $color-primary-darkest;
    color: $color-primary-light;
}