.container > .footer {
    // grid-area: footer;

    background-color: $color-primary-light;
    
    & > p {
        font-weight: 500;
        color: $color-primary-light;
        font-family: inherit;
    }
}

.footer {
    padding-top: 24rem;
    padding-left: 41.5%;
}

#centered__footer {
    margin-top: -20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}