.container > .footer {
    background-color: $color-primary-light;
    
    & > p {
        font-weight: 500;
        color: $color-primary-light;
        font-family: inherit;
    }
}

.footer {
    padding-top: 24rem;
    padding-left: 41.5%;

    @media only screen and (max-width: 50em) {
        position: absolute;
        top: -7.5rem;
        right: 2.5rem;
    }
}

#centered__footer {
    margin-top: -20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}