.navbar {
    padding: 1rem 1.5rem;

    display: grid;
    grid-template-columns: min-content repeat(2, minmax(min-content, 1fr));
    grid-gap: 2rem;

    &__logo {
        width: 4.5rem;
    }

    &__btn {
        all: unset;
        cursor: pointer;
        align-self: start;
        justify-self: start;

        transition: all .4s;
    }

    &__btn > img {
        width: 4.5rem;
    }

    &__btn:active {
        transform: translateY(5px) scale(.6);
    }
}

.navbar__menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-item {
        margin: 0 1rem;
    }

    &-link:link,
    &-link:visited {
        color: inherit; // simplifies dark-mode/light-mode change
        font-size: 1.4rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;

        // necessary for ::before pseudo-element to have absolute positioning
        position: relative;
    }

    &-link::before {
        content: ""; // necessary for displaying ::before pseudo-element
        position: absolute;
        top: 2rem;
        left: 0;
        height: 1rem;
        width: 3px;
        background-color: $color-secondary;
        // hide element when not hovered
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1, 0, 0, 1) .2s,
                    background-color .1s;
    }

    &-link:hover::before,
    &-link.active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &-link:active::before {
        background-color: $color-secondary-light;
    }
}

.dark-mode > header > .navbar > .navbar__logo,
.dark-mode > header > .navbar > .navbar__btn {
    // invert png so black becomes white, and vice versa
    -webkit-filter: invert(100%);
    filter: invert(100%);
}