.navbar {
    background-color: $color-primary-dark;
    padding: 1rem 1.5rem;

    display: grid;
    grid-template-columns: min-content repeat(2, minmax(min-content, 1fr));
    grid-gap: 2rem;

    &__logo {
        width: 4.5rem;
    }

    &__btn {
        all: unset;
        cursor: pointer;
        align-self: start;
        justify-self: start;

        transition: all .2s;
    }

    &__btn > img {
        width: 4.5rem;
    }

    &__btn:active {
        transform: translateY(2px);
    }
}

.navbar__menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-item {
        margin: 0 1rem;
    }

    &-link:link,
    &-link:visited {
        color: $color-primary-light;
        font-size: 1.4rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
    }

    &-link:hover, 
    &-link.active {
        border-bottom: solid 5px $color-secondary;
    }
}

.dark-mode {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}