.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 7.5rem;
    width: 100%;
    background-color: $color-primary-light;

    transition: background-color .4s ease-out;

    &__logo {
        margin-left: 8rem;
    }

    &__logo > img {
        height: 5rem;
        margin-top: 0.5rem;
    }

    & > .toggle-btn {
        all: unset;
        cursor: pointer;
        align-self: start;
        justify-self: start;

        transition: all .4s;
    }

    & > .toggle-btn > img {
        width: 4.5rem;
        margin-top: 1.5rem;
        margin-right: 3.5rem;
    }

    & > .toggle-btn:active {
        transform: translateY(5px) scale(.6);
    }
}

.navigation {
    position: relative;

    &__checkbox {
        display: none;
    }

    &__button {
        position: absolute;
        // center menu icon in button
        display: flex;
        align-items: center;
        justify-content: center;
        top: -2rem;
        left: 3.5rem;
        background-color: transparent;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        z-index: 2000;

        text-align: center;
        cursor: pointer;
    }

    &__nav {
        height: 50vh;
        position: fixed;
        z-index: 1500;

        background-color: transparent;

        display: none;

        padding: 1rem;
        align-content: center;

        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        @media only screen and (max-width: 50em) {
            height: 20vh;
            background-color: $color-primary-light;
            transition: background-color .4s ease-out;
        }
    }

    &__list {
        text-align: center;
        list-style: none;
    }

    &__item {
        font-size: 1.25rem;
        font-weight: 500;
        font-family: inherit;
        margin: 1rem;
        position: relative;
        letter-spacing: 2px;
    }

    &__item:not(:last-child)::after {
        content: "";
        position: absolute;
        left    : 30%;
        bottom  : 0;
        height  : 2px;
        width   : 40%;
        border-bottom: 1px solid $color-primary-dark;
    }

    &__link {
        padding: 0.5rem 0.8rem;

        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-primary-dark;
            background-image: linear-gradient(
                120deg,
                transparent 0%, transparent 50%, $color-primary-dark 50%
                );
            background-size: 250%;
            transition: all 0.4s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary-light;
            transform: translateX(1rem);
        }
    }

    // FUNCTIONALITY

    &__checkbox:checked ~ &__background {
        transform: scale(1);
    }

    &__checkbox:checked ~ &__nav {
        display: block;
    }

    // ICON 

    &__icon {
        position: absolute;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary-dark;
            display: inline-block;

            transition: all 0.2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before { top: -0.8rem; }

        &::after { top: 0.8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }

    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-135deg);
        top: 0;
    }
}