.home {
    padding-top: 7rem;

    display: grid;
    grid-template-columns: 3rem [main-start] repeat(2, 1fr) [main-end] 3rem;

    &__data {

        font-family: $code-font;

        grid-column: 2 / 3;

        display: grid;
        grid-template-rows: 30rem 1fr 10rem;
        grid-gap: 3rem;

        justify-content: center;

    }

    &__img {

        grid-column: 3 / 4;

        display: grid;
        justify-content: center;
        align-items: center;

        & > img {
            position: relative;
            display: block;
            border-radius: 10%;
            width: 55rem;
            height: 55rem;
            object-fit: cover;

            clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

            animation: open 1s ease-out 1;
        }
    }

    &__social {
        display: grid;
        grid-template-columns: 10rem repeat(3, 1fr);
        grid-gap: 5rem;

        img {
            width: 8rem;
            height: 3.5rem;
            opacity: .7;

            grid-column: 2 / 3;
        }

        img.linkedin-logo {
            width: 3.5rem;
            height: 3.5rem;
            opacity: .7;

            grid-column: 3 / 4;

            -webkit-filter: invert(100%);
            filter: invert(100%);
        }

        img:hover,
        img:active {
            opacity: 1;
        }
    }
}

@keyframes open {
    0% {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
    100% {
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

    }
}

.dark-mode > main > .home > .home__data > .home__social > a > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dark-mode > main > .home > .home__data > .home__social > a > img.linkedin-logo {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}