.home {
    padding-top: 7rem;

    display: grid;
    grid-template-columns: 3rem [main-start] repeat(2, 1fr) [main-end] 3rem;

    &__data {

        font-family: $code-font;

        grid-column: 2 / 3;

        display: grid;
        grid-template-rows: 20rem 1fr;
        grid-gap: 3rem;

        justify-content: center;
        // place-items: center;

    }

    &__img {

        grid-column: 3 / 4;
    }
}