.home {
    margin-top: -5rem;
    margin-right: -10rem;
    height: 80vh;
    width: 100%;

    @media only screen and (max-width: 70em) {
        height: auto;
    }

    &__data {
        margin-top: -18.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 50em) {
            flex-direction: column;
            position: relative;
        }
    }

    &__data--img {
        margin-top: 8.25rem;
        padding-top: 3rem;
        width: 100%;

        @media only screen and (max-width: 50em) {
            margin-top: 14rem;
            width: 120%;
        }

        & > img {
            width: 100%;
            height: 75rem;
            object-fit: cover;
            margin-bottom: -0.5rem;
            
            @media only screen and (max-width: 50em) {
                // height: 120rem;
                height: 100%;
            }
        }
    }

    &__data > &__data--name {
        width: 100%;
        text-align: center;
        padding-top: 25rem;

        @media only screen and (max-width: 50em) {
            position: absolute;
            left: 10rem;
            top: -3rem;
        }
    }

    &__data > &__data--name > h1 {
        width: 200%;
        font-family: 'Notable', sans-serif;
        font-size: 8rem;
        color: $color-primary-dark;
        padding-bottom: 25rem;
        margin-left: -25rem;
        position: relative;
        letter-spacing: 3.5px;

        @media only screen and (max-width: 50em) {
            font-size: 4rem;
        }

        @media only screen and (max-width: 84.5em) {
            width: 100%;
            margin-left: -10rem;
        }

        &::before {
            content: "";
            position: absolute;
            width: 66rem;
            height: 2px;
            background-color: $color-primary-dark;
            bottom: 22rem;

            @media only screen and (max-width: 50em) {
                display: none;
            }

            @media only screen and (max-width: 84.5em) {
                width: 40rem;
            }
        }
    }

    &__data > &__data--social {
        margin-top: 15rem;
        margin-left: 2.5rem;
        display: grid;
        grid-template-columns: 3.5rem repeat(2, min-content) 1fr;
        grid-gap: 5rem;

        @media only screen and (max-width: 50em) {
            display: flex;

            position: absolute;
            top: 10rem;
            right: -2.5rem;
        }

        @media only screen and (max-width: 84.5em) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);
            margin-left: -20rem;
            margin-right: 10rem;
        }

        img {
            width: 8rem;
            height: 3.5rem;
            opacity: .7;

            grid-column: 2 / 3;

            @media only screen and (max-width: 50em) {
                width: 6rem;
                height: 2.625rem;
            }
        }

        img.linkedin-logo {
            width: 3.5rem;
            height: 3.5rem;
            opacity: .7;
            
            grid-column: 3 / 4;
            
            -webkit-filter: invert(100%);
            filter: invert(100%);

            @media only screen and (max-width: 50em) {
                width: 2.625rem;
                height: 2.625rem;
                margin-left: -4rem;
            }
        }

        img:hover,
        img:active {
            opacity: 1;
        }
    }
}