.projects {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 3rem;
    height: 80vh;
    width: 100%;
    margin: 0 10rem;
    padding-top: 5rem;
    padding-left: 5rem;

    font-family: 'Special Elite', 'IM Fell English', sans-serif;
    letter-spacing: 2px;

    @media only screen and (max-width: 50em) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;

        margin-right: -10rem;
        margin-top: -3rem;
    }

    @media only screen and (min-width: 51em) and (max-width: 70em) {
        margin-left: -10rem;
        height: auto;
    }

    &__nav {
        grid-column: 1 / 2;
        margin-top: 10rem;
        margin-left: 10rem;
        margin-right: -3rem;

        @media only screen and (max-width: 50em) {
            margin-left: -17rem;
            margin-top: 0;
            grid-row: 1 / 2;
        }

        &--list {
            list-style: none;
            border-left: 2px solid $color-primary-dark;

            font-size: 1.8rem;
            padding: 2rem 5rem 2rem 3rem;

            @media only screen and (max-width: 50em) {
                display: flex;
                border-left: none;
                font-size: 1.2rem;
            }
        }

        &--item {
            & > a {
                padding: 0.8rem 0.8rem 0.4rem 0.8rem;

                @media only screen and (max-width: 50em) {
                    margin-right: 2rem;
                }
            }

            & > a:link,
            & > a:visited {
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-primary-dark;
                background-image: linear-gradient(
                    90deg,
                    transparent 0%, transparent 50%, $color-primary-dark 50%, $color-primary-dark 100%
                    );
                background-size: 300%;
                transition: all 0.5s;
            }
    
            & > a:hover,
            & > a:active,
            & > a:target,
            & > a:focus {
                background-position: -50% 100%;
                color: $color-primary-light;
                transform: translateX(1rem);
            }
        }

        &--item:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__container {
        grid-column: 2 / 3;

        border-left: 3px solid $color-primary-dark;
        margin-left: 18rem;
        padding-left: 5rem;
        padding-top: 3rem;
        width: 60rem;
        height: 50rem;

        @media only screen and (max-width: 50em) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            width: 30rem;
            
            margin-left: -11rem;
            margin-top: -7rem;
            border-left: none;
            padding-left: 6rem;
        }
    }

    &__container > .project > .project__image {
        width: 100%;
        text-align: center;

        & > #dreamOffer-img {

            @media only screen and (max-width: 50em) {
                margin-left: -8rem;
            }
        }

        & > #exerciseLog-img,
        & > #battleship-img {

            @media only screen and (max-width: 50em) {
                margin-left: -5rem;
            }
        }

        & > img {
            height: 25rem;
            margin-bottom: 1.8rem;

            box-shadow: 3px 3px 8px 5px rgba(32, 32, 32, 0.5);
            transition: all 0.4s ease-in-out;
        }

        & > img:hover {
            transform: scale(1.1);
        }
    }

    &__container > .project > .project__data {

        @media only screen and (max-width: 50em) {
            margin-top: -2.4rem;
        }
    }

    &__container > .project > .project__data > .project--title {
        font-size: 1.8rem;
        text-align: center;
        padding: 1.2rem 0;
    }

    &__container > .project > .project__data > .project--title > a > img {
        vertical-align: middle;
        padding-bottom: 0.6rem;
        width: 2.4rem;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        transition: all 0.2s ease;
    }

    &__container > .project > .project__data > .project--title > a > img:hover {
        transform: scale(1.1);
    }

    &__container > .project > .project__data > .project--title > a > img.project--link {
        margin-left: 0.8rem;
        -webkit-filter: none;
        filter: none;
        transition: all 0.2s ease;
    }

    &__container > .project > .project__data > .project--title > a > img.project--link:hover {
        transform: scale(1.1);
    }

    &__container > .project > .project__data > .project--stack {
        font-size: 1.4rem;

        display: flex;
        justify-content: space-around;

        margin-bottom: 1.8rem;

        @media only screen and (max-width: 70em) {
            font-size: 1rem;
            margin-top: -1rem;
        }
    }

    &__container > .project > .project__data > p {
        font-size: 1.4rem;
        text-align: justify;
        line-height: 1.5;

        @media only screen and (max-width: 70em) {
            margin-top: -1rem;
        }
    }
}