.skills {
    padding-top: 7rem;
    margin-bottom: 7rem;

    display: grid;
    grid-template-columns: minmax(1rem, 10rem) 1fr minmax(1rem, 10rem);
    grid-template-rows: 7rem 1fr;
    grid-gap: 5rem;

    &__container {
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: 25% repeat(3, 1fr) 25%;
        grid-template-rows: 1fr;
        // grid-template-rows: .15fr 1fr .15fr;
        justify-content: center;
        align-items: center;
        // grid-gap: 3.5rem;
    }

    &__col {

        &-1 {
            grid-column: 2 / 3;
            // grid-row: 2 / 3;

            padding: 1rem;

            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 1rem;

            place-items: center;
        }

        &-2 {
            grid-column: 3 / 4;
            // grid-row: 1 / -1;
            padding: 1rem;

            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 1rem;

            place-items: center;
        }

        &-3 {
            grid-column: 4 / 5;
            // grid-row: 2 / 3;

            padding: 1rem;

            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 1rem;

            place-items: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        padding: .8rem 5rem 1.2rem;
        width: 18rem;

        box-shadow: 0 1.5rem 2rem rgba(0,0,0,.4);

        transition: all .3s ease;

        /*
        *
            Gradient Border: 
                'padding-box' and 'border-box' values represent the background-clip values

                first linear gradient is limited to padding-box: it's a fake gradient because
                    we use the same color twice; its purpose is to mask the second background
                    gradient with the background color

                second linear gradient sits below the first and applies the desired gradient 
                    colors to our transparent border
        *
        */
        background: 
            linear-gradient($color-primary-light, $color-primary-light) padding-box,
            linear-gradient(to bottom right, $color-tertiary, $color-secondary) border-box;
        border-radius: 10%;
        border: 3.5px solid transparent;

        &:hover,
        &:active {
            animation: border-light .75s ease;
            animation-iteration-count: infinite;

            transform: scale(1.2);
        }
    }
}

.skills__item > img {
    padding-bottom: 1.5rem;
    width: auto;
    height: 8rem;
}

// toggles bg-color inside skills boxes
.dark-mode > main > .skills > .skills__container > .skills__col > .skills__item {
    background: 
        linear-gradient($color-primary-darkest, $color-primary-darkest) padding-box,
        linear-gradient(to bottom right, $color-tertiary, $color-secondary) border-box;

    &:hover,
    &:active {
        animation: border-dark 1s ease;
        animation-iteration-count: infinite;
    }
}

.dark-mode > main > .skills > .skills__container > .skills__col-1 > .skills__item > img[src="img/flask-logo.png"] {
    // invert png so black becomes white, and vice versa
    -webkit-filter: invert(100%);
    filter: invert(100%);
}