/*   ----- Imports  -----  */                       

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/*   ----- Variables  -----  */
:root {
  /* colors */
  --backgroundColor: #F1ECE1;
  --fontColor: #1a1818;

  /* fonts */
  --mainFont: 'Marcellus SC', sans-serif;
  --navFont: 'Aboreto', serif;

  /* sizes */
  --frameMargin: 20px;
  --frameWidth: 1px;
  --frameLength: 100%;
}

/*   ----- Reset  -----  */
*,
::after, 
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--backgroundColor);
  font-family: var(--mainFont);
  color: var(--fontColor);
}

main {
  border: 1px solid var(--fontColor);
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
}