/*   ----- Imports  -----  */                       

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*   ----- Variables  -----  */
:root {
  /* colors */
  --white: #fff;
  --backgroundColor: #F1ECE1;
  --cardColor: #fffdfa;
  --fontColor: #1a1818;
  --fontColorSecondary: #6a6565;
  --fontColorTertiary: #9A9292;
  --highlightBlue: #0096D6;
  --highlightOrange: #f80000;
  --highlightBlue--dark: #006AFF;

  /* fonts */
  --mainFont: 'Montserrat', sans-serif;
  --secondaryFont: 'Montserrat', sans-serif;
  --navFont: 'Poiret One', serif;

  /* sizes */
  --smallMargin: .5rem;
  --mainMargin: 25px;
  --borderRadius: 0.25rem;

  --transition: 0.3s ease-in-out all;
}

/*   ----- Reset  -----  */
*,
::after, 
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

/* body {
  background: var(--backgroundColor);
  font-family: var(--mainFont);
  color: var(--fontColor);
}

.dark {
  background: var(--fontColor);
  font-family: var(--mainFont);
  color: var(--backgroundColor);
} */

body {
  background: var(--backgroundColor);
  font-family: var(--mainFont);
  color: var(--fontColor);
}

a {
  font-size: inherit;
  color: inherit;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
  /* font-family: var(--mainFont);
  color: var(--backgroundColor); */
}

[data-theme="dark"] {
  background: var(--fontColor);
  color: var(--backgroundColor);
}

/*   ----- Toggle Button  -----  */
.toggle-container {
  position: absolute;
  width: fit-content;
  top: -25px;
  right: 30px;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  font-size: 2.2rem;
  cursor: pointer;
}

.toggle-btn {
  transition: .2s ease-in-out;
}

.toggle-btn:hover {
  transform: scale(1.1);
}

.toggle-btn:active {
  transform: scale(0.9);
}

/*  old  */

/* .toggle-btn {
  width: fit-content;
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 3rem;
  background: var(--backgroundColor);
  padding: 0 1px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.toggle-btn:hover {
  transform: scale(1.1);
} */

/*   ----- Header  -----  */
.header {
  /* width: 100%;
  height: fit-content;
  z-index: 90;
  background-color: var(--backgroundColor);
  overflow: hidden; */
}

.hero-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 35px;
}

.hero {
  display: flex;
  gap: var(--smallMargin);
  align-items: center;
}

.hero > h4 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.social-links {
  display: flex;
  /* gap: var(--smallMargin); */
  gap: 0.3rem;
  align-items: center;
  color: inherit;
}

.social-links > a {
  transform: var(--transition);
  color: var(--fontColorSecondary);
}

.github-logo {
  font-size: 2.3rem;
  cursor: pointer;
}

.social-links > a:hover {
  /* color: var(--fontColor); */
  color: inherit;
  transform: scale(1.1);
}

.linkedin-logo {
  font-size: 1.1rem;
  cursor: pointer;
}

.roles {
  font-family: var(--mainFont);
  color: var(--fontColorTertiary);
  font-size: 1rem;
  width: 60%;
  margin-top: -5px;
}

/*   ----- Main  -----  */
main {
  /* width: calc(100vw - 50px);
  height: calc(100vh - 50px); */
  /* margin: var(--mainMargin); */
  /* border-top: 1px solid var(--fontColor); */
  /* padding: 4rem .5rem; */
  /* overflow: auto; */
  /* position: relative; */
  overflow: hidden;
}

.main-container {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  padding: 4rem .5rem;
  margin: var(--mainMargin);
  border-top: 1px solid var(--fontColor);
}

@media screen and (min-width: 600px) {
  .main-container {
    border: 1px solid var(--fontColor);
    padding: 3.5rem 1.5rem;
  }
}

/*   ----- Footer  -----  */
footer {
  display: flex;
  gap: .3rem;
  position: absolute;
  bottom: 3px;
  width: 100%;
  justify-content: center;
}

/*   ----- HomePage  -----  */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33.3%;
}

@media screen and (min-width: 700px) {
  .homepage {
    padding-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
  }
}

/*   ----- About  -----  */
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}

.about-container {
  width: 100%;
  position: relative;
  margin-top: 0.5rem;
}

.about-container > .line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: var(--fontColor);
}

.about-header {
  display: flex;
  align-items: center;
  gap: .3rem;
  position: absolute;
  top: -18px;
  left: 5px;
  /* background: var(--backgroundColor); */
}

.about-header > h5 {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  font-family: var(--navFont);
  padding: 0 0.15rem;
}

.about-text {
  padding-left: 15px;
  margin: 23px 1rem 1.3rem;
}

.skills-container {
  width: 100%;
  position: relative;
  margin-top: 1.5rem;
}

.skills-container > .line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: var(--fontColor);
}

.show-btn--skills {
  width: fit-content;
  position: absolute;
  right: 5px;
  top: 18px;
  font-size: 1.3rem;
  border: none;
  /* background: var(--backgroundColor); */
  background: inherit;
  color: inherit;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.show-btn--skills:hover {
  transform: scale(1.2);
}

.show-btn--skills:active {
  transform: scale(0.5);
}

.skills-header {
  display: flex;
  align-items: center;
  gap: .3rem;
  position: absolute;
  top: -18px;
  left: 5px;
  /* background: var(--backgroundColor); */
}

.skills-header > h5 {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  font-family: var(--navFont);
}

.empty {
  margin-bottom: 1.8rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  margin: 1.8rem 1rem;
}

/*   ----- SkillList Component -----  */
.category-container {
  margin: .25rem 0;
}

.category-title {
  font-size: 1.2rem;
  font-weight: normal;
  position: relative;
  width: fit-content;
  margin-bottom: 0.25rem;
}

.category-title::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--fontColor);
}

.category-list {
  list-style: none;
  padding: .6rem .25rem;

  display: flex;
  gap: 0.1rem;
}

.skill-wrapper {
  position: relative;
  padding-right: 2rem;
}

.skill {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--fontColorSecondary);
  transition: all 0.2s ease-in;
}

.hoverBubble {
  position: absolute;
  top: 35px;
  left: 39%;
  transform: translateX(-61%);
  background-color: rgb(255, 254, 248);
  border-radius: 5px;
  padding: 3px 7px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.hoverBubble > h3 {
  font-size: .9rem;
  letter-spacing: 1px;
  /* color: var(--highlightBlue--dark); */
  color: var(--fontColor);
}

.skill:hover {
  /* color: var(--fontColor); */
  color: inherit;
  /* color: var(--highlightBlue); */
  transform: scale(1.1);
}

.skill-wrapper > .skill:hover ~ .hoverBubble {
  visibility: visible;
  z-index: 11;
}

/*   ----- Resume Button  -----  */
.resume-btn-container {
  display: flex;
  justify-content: end;
  margin-top: var(--smallMargin);
}

.resume-btn {
  display: flex;
  padding: var(--smallMargin) 0 .2rem;
  margin-bottom: var(--smallMargin);
  align-items: center;
  gap: var(--smallMargin);
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.btn-text, .btn-text:visited {
  font-size: .875rem;
  font-family: var(--secondaryFont);
  text-decoration: none;
  /* color: var(--fontColor); */
  color: inherit;
}

.resume-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--fontColor);
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
  transform: scaleX(0);
}

.resume-btn:hover::after {
  transform: scaleX(1);
}

.btn-text--arrow {
  font-size: .8rem;
}

/*   ----- NavLinks Component -----  */
.nav-links {
  font-family: var(--navFont);
  font-weight: 600;
  letter-spacing: .25rem;
  font-size: 3rem;
  margin-bottom: var(--mainMargin);
}

.about-page > .nav-links,
.projects-page > .nav-links,
.contact-page > .nav-links,
.resume-page > .nav-links {
  font-size: 1.1rem;
  position: absolute;
  top: 2px;
  left: 35px;
}

.resume-page > .nav-links {
  font-size: 0.9rem;
  top: 2px;
}

.about-page > .nav-links > ul,
.projects-page > .nav-links > ul,
.resume-page > .nav-links > ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.resume-page > .nav-links > ul {
  gap: 20px;
}

.about-page > .nav-links > ul > li,
.projects-page > .nav-links > ul > li,
.resume-page > .nav-links > ul > li {
  position: relative;
  /* color: var(--fontColor); */
}

.about-page > .nav-links > ul > li:not(:last-child):after,
.projects-page > .nav-links > ul > li:not(:last-child):after,
.resume-page > .nav-links > ul > li:not(:last-child):after {
  content: '-';
  position: absolute;
  top: -5px;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 0.68rem;
}

.resume-page > .nav-links > ul > li:not(:last-child):after {
  font-size: 1.1rem;
  top: 0;
  padding-left: 0.3rem;
}

.nav-links > ul {
  list-style: none;
}

li {
  width: fit-content;
  transition: .5s ease-out;
}

.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-weight: normal;
}

.link:hover {
  transform: skewX(-10deg);
  font-weight: bolder;

}

.about-page > .nav-links > ul > li > .link,
.projects-page > .nav-links > ul > li > .link,
.resume-page > .nav-links > ul > li > .link {
  position: relative;
}

.about-page > .nav-links > ul > li > .link:hover,
.projects-page > .nav-links > ul > li > .link:hover,
.resume-page > .nav-links > ul > li > .link:hover {
  transform: none;
}

.nav-links > ul > li:hover {
  transform: translateX(2%);
}

.about-page > .nav-links > ul > li:hover,
.projects-page > .nav-links > ul > li:hover,
.resume-page > .nav-links > ul > li:hover {
  transform: none;
}

/*   ----- Resume  -----  */
.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2.5rem 0 8rem;
}

.resume-container {
  width: fit-content;
  /* margin-top: -9rem; */
  z-index: 5;
  overflow: auto;
}

/*   ----- Projects  -----  */
.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}

.projects-container {
  width: 100%;
  position: relative;
  margin-top: 0.5rem;
}

.projects-container > .line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: var(--fontColor);
}

.projects-header {
  display: flex;
  align-items: center;
  gap: .3rem;
  position: absolute;
  top: -18px;
  left: 5px;
  /* background: var(--backgroundColor); */
  background: inherit;
}

.projects-header > h5 {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  font-family: var(--navFont);
  padding: 0 0.15rem;
}

/*   ----- Carousel Component  -----  */
.slide {
  text-align: center;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.slider-img {
  width: fit-content;
  height: 200px;
  margin: 1rem 0 -0.5rem;
  object-fit: cover;
}

.slider-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.slider-name {
  font-size: 1rem;
}

.slider-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3px;
  color: inherit;
}

.link-logo {
  font-size: 0.9rem;
  color: var(--fontColorSecondary);
}

.link-logo:hover {
  /* color: var(--fontColor); */
  color: inherit;
  transform: scale(1.1);
} 

.slider-links > .github-logo {
  margin-top: 6px;
  font-size: 2.3rem;
  color: var(--fontColorSecondary);
}

.slider-links > .github-logo:hover {
  /* color: var(--fontColor); */
  color: inherit;
  transform: scale(1.1);
}

.slider-stack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-stack > ul {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 0.7rem;
  margin: -12px 0 8px;
  color: var(--fontColorTertiary);
}

.slider-stack > ul > li {
  position: relative;
}

.slider-stack > ul > li:not(:last-child):after {
  content: "|";
  position: absolute;
  right: -10px;
}

.slider-desc {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  /* padding-left: 0.5rem; */
}

.prev, .next {
  position: absolute;
  top: 400px;
  height: 1.25rem;
  font-size: 1.3rem;
  color: var(--fontColorTertiary);
  display: grid;
  place-items: center;
  border-color: transparent;
  border-radius: var(--borderRadius);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}

.prev:hover, .next:hover {
  color: var(--fontColor);
}

.prev:hover {
  transform: scale(1.2) translateX(-2px);
}

.next:hover {
  transform: scale(1.2) translateX(2px);
}

/*   ----- Contact  -----  */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
}

.contact-container {
  position: relative;
  padding-top: 2rem;
}

.contact-link {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  font-size: 5rem;
  color: var(--fontColorTertiary);
  transform: translateX(-50%);
  transition: var(--transition);
}

.contact-link:hover {
  left: 52%;
  /* color: var(--fontColorSecondary); */
  color: inherit;
}

.contact-page > .nav-links > ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.contact-page > .nav-links > ul > li {
  position: relative;
  /* color: var(--fontColor); */
}

.contact-page > .nav-links > ul > li:not(:last-child):after {
  content: '-';
  position: absolute;
  top: -5px;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 0.68rem;
}

.contact-page > .nav-links > ul > li > .link {
  position: relative;
}

.contact-page > .nav-links > ul > li > .link:hover {
  transform: none;
}

.contact-page > .nav-links > ul > li:hover {
  transform: none;
}

/* dark mode */
