/*   ----- Imports  -----  */                       

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/*   ----- Variables  -----  */
:root {
  /* colors */
  --backgroundColor: #F1ECE1;
  --fontColor: #1a1818;

  /* fonts */
  --mainFont: 'Marcellus SC', sans-serif;
  --navFont: 'Aboreto', serif;

  /* sizes */
  --frameMargin: 20px;
  --frameWidth: 1px;
  --frameLength: 100%;
}

/*   ----- Reset  -----  */
*,
::after, 
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--backgroundColor);
  font-family: var(--mainFont);
  color: var(--fontColor);
}

/*   ----- Frame Component  -----  */
.frame {
  position: fixed;
  z-index: 10;
  left: var(--frameMargin);
  right: var(--frameMargin);
  top: var(--frameMargin);
  bottom: var(--frameMargin);
}

.frame_line_left {
  left: 0;
  top: 0;
  width: var(--frameWidth);
  height: var(--frameLength);
  position: absolute;
  background-color: var(--fontColor);
}

.frame_line_right {
  right: 0;
  top: 0;
  width: var(--frameWidth);
  height: var(--frameLength);
  position: absolute;
  background-color: var(--fontColor);
}

.frame_line_top {
  left: 0;
  top: 0;
  width: var(--frameLength);
  height: var(--frameWidth);
  position: absolute;
  background-color: var(--fontColor);
}

.frame_line_bottom {
  left: 0;
  bottom: 0;
  width: var(--frameLength);
  height: var(--frameWidth);
  position: absolute;
  background-color: var(--fontColor);
}
